<div>
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active" href="#myinfo" role="tab" data-toggle="tab">My Info</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#empdata" role="tab" data-toggle="tab">Employee Data</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#leave" role="tab" data-toggle="tab">Leave</a>
    </li>
  </ul>
  
  
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="myinfo">
    <ul>
      <li>Name: {{employee.firstname}} {{employee.lastname}}</li>
      <li>Address: {{employee.address}}</li>
    </ul>
    </div>
    <div role="tabpanel" class="tab-pane" id="empdata">ccvcv</div>
    <div role="tabpanel" class="tab-pane" id="leave">cvzvxv</div>
  </div>
</div>
